# Apps
apps/cache/
!apps/cache/index.html
!apps/cache/app/index.html
!apps/cache/sessions/index.html
!apps/cache/database/index.html

apps/debug/*
!apps/debug/index.html

apps/logs/*
!apps/logs/index.html

apps/temp/*
!apps/temp/index.html

# apps/vendor/*
apps/composer.lock
apps/config/database.php

# Upload
public/upload/*
!public/upload/index.html

# Vendor Style
public/node_modules/*
public/yarn.lock