.DS_Store

apps/cache/
!apps/cache/index.html
!apps/cache/apps/index.html
!apps/cache/sessions/index.html
!apps/cache/database/index.html

apps/config/database.php

apps/debug/*
!apps/debug/index.html

apps/temp/*
!apps/temp/index.html

apps/cache/*
!apps/cache/index.html

apps/logs/*
!apps/logs/index.html

!apps/*/.htaccess

apps/composer.lock
apps/vendor/

# Upload
public/uploads/*
!public/uploads/index.html
!public/uploads/system/

# Vendor Style
public/assets/node_modules/*
public/assets/yarn.lock

# IDE Files
#-------------------------
/nbproject/
.idea/*

## Sublime Text cache files
*.tmlanguage.cache
*.tmPreferences.cache
*.stTheme.cache
*.sublime-workspace
*.sublime-project
