**/cache/apps/*
!**/cache/apps/index.html
**/cache/sessions/*
!**/cache/sessions/index.html
**/cache/database/*
!**/cache/database/index.html

**/config/database.php

**/temp/*
!**/temp/index.html

**/logs/*
!**/logs/index.html

!**/*/.htaccess

**/third_party/*
!**/third_party/index.html
composer.lock

# Upload
**/uploads/*
!**/uploads/system/
!**/uploads/index.html