body.skin-dark .aside {
  background-color: #ffffff;
}
body.skin-dark .aside .aside-primary {
  background-color: #0357D1;
}
body.skin-dark .btn.btn-clean {
  color: #d8e8fd;
  background-color: transparent;
  border-color: transparent;
}
body.skin-dark .btn.btn-clean i {
  color: #d8e8fd;
}
body.skin-dark .btn.btn-clean .svg-icon svg g [fill] {
  -webkit-transition: fill 0.3s ease;
  transition: fill 0.3s ease;
  fill: #d8e8fd;
}
body.skin-dark .btn.btn-clean .svg-icon svg:hover g [fill] {
  -webkit-transition: fill 0.3s ease;
  transition: fill 0.3s ease;
}
body.skin-dark .btn.btn-clean.dropdown-toggle:after {
  color: #d8e8fd;
}
body.skin-dark .btn.btn-clean:hover:not(.btn-text):not(:disabled):not(.disabled), body.skin-dark .btn.btn-clean:focus:not(.btn-text), body.skin-dark .btn.btn-clean.focus:not(.btn-text) {
  color: #e0e2f0;
  background-color: #02429f;
  border-color: transparent;
}
body.skin-dark .btn.btn-clean:hover:not(.btn-text):not(:disabled):not(.disabled) i, body.skin-dark .btn.btn-clean:focus:not(.btn-text) i, body.skin-dark .btn.btn-clean.focus:not(.btn-text) i {
  color: #ffffff;
}
body.skin-dark .btn.btn-clean:hover:not(.btn-text):not(:disabled):not(.disabled) .svg-icon svg g [fill], body.skin-dark .btn.btn-clean:focus:not(.btn-text) .svg-icon svg g [fill], body.skin-dark .btn.btn-clean.focus:not(.btn-text) .svg-icon svg g [fill] {
  -webkit-transition: fill 0.3s ease;
  transition: fill 0.3s ease;
  fill: #ffffff;
}
body.skin-dark .btn.btn-clean:hover:not(.btn-text):not(:disabled):not(.disabled) .svg-icon svg:hover g [fill], body.skin-dark .btn.btn-clean:focus:not(.btn-text) .svg-icon svg:hover g [fill], body.skin-dark .btn.btn-clean.focus:not(.btn-text) .svg-icon svg:hover g [fill] {
  -webkit-transition: fill 0.3s ease;
  transition: fill 0.3s ease;
}
body.skin-dark .btn.btn-clean:hover:not(.btn-text):not(:disabled):not(.disabled).dropdown-toggle:after, body.skin-dark .btn.btn-clean:focus:not(.btn-text).dropdown-toggle:after, body.skin-dark .btn.btn-clean.focus:not(.btn-text).dropdown-toggle:after {
  color: #ffffff;
}
body.skin-dark .btn.btn-clean.disabled, body.skin-dark .btn.btn-clean:disabled {
  color: #d8e8fd;
  background-color: transparent;
  border-color: transparent;
}
body.skin-dark .btn.btn-clean.disabled i, body.skin-dark .btn.btn-clean:disabled i {
  color: #d8e8fd;
}
body.skin-dark .btn.btn-clean.disabled .svg-icon svg g [fill], body.skin-dark .btn.btn-clean:disabled .svg-icon svg g [fill] {
  -webkit-transition: fill 0.3s ease;
  transition: fill 0.3s ease;
  fill: #d8e8fd;
}
body.skin-dark .btn.btn-clean.disabled .svg-icon svg:hover g [fill], body.skin-dark .btn.btn-clean:disabled .svg-icon svg:hover g [fill] {
  -webkit-transition: fill 0.3s ease;
  transition: fill 0.3s ease;
}
body.skin-dark .btn.btn-clean.disabled.dropdown-toggle:after, body.skin-dark .btn.btn-clean:disabled.dropdown-toggle:after {
  color: #d8e8fd;
}
body.skin-dark .btn.btn-clean:not(:disabled):not(.disabled):active:not(.btn-text), body.skin-dark .btn.btn-clean:not(:disabled):not(.disabled).active, .show > body.skin-dark .btn.btn-clean.dropdown-toggle, .show body.skin-dark .btn.btn-clean.btn-dropdown {
  color: #e0e2f0;
  background-color: #3e8bfc;
  border-color: transparent;
}
body.skin-dark .btn.btn-clean:not(:disabled):not(.disabled):active:not(.btn-text) i, body.skin-dark .btn.btn-clean:not(:disabled):not(.disabled).active i, .show > body.skin-dark .btn.btn-clean.dropdown-toggle i, .show body.skin-dark .btn.btn-clean.btn-dropdown i {
  color: #ffffff;
}
body.skin-dark .btn.btn-clean:not(:disabled):not(.disabled):active:not(.btn-text) .svg-icon svg g [fill], body.skin-dark .btn.btn-clean:not(:disabled):not(.disabled).active .svg-icon svg g [fill], .show > body.skin-dark .btn.btn-clean.dropdown-toggle .svg-icon svg g [fill], .show body.skin-dark .btn.btn-clean.btn-dropdown .svg-icon svg g [fill] {
  -webkit-transition: fill 0.3s ease;
  transition: fill 0.3s ease;
  fill: #ffffff;
}
body.skin-dark .btn.btn-clean:not(:disabled):not(.disabled):active:not(.btn-text) .svg-icon svg:hover g [fill], body.skin-dark .btn.btn-clean:not(:disabled):not(.disabled).active .svg-icon svg:hover g [fill], .show > body.skin-dark .btn.btn-clean.dropdown-toggle .svg-icon svg:hover g [fill], .show body.skin-dark .btn.btn-clean.btn-dropdown .svg-icon svg:hover g [fill] {
  -webkit-transition: fill 0.3s ease;
  transition: fill 0.3s ease;
}
body.skin-dark .btn.btn-clean:not(:disabled):not(.disabled):active:not(.btn-text).dropdown-toggle:after, body.skin-dark .btn.btn-clean:not(:disabled):not(.disabled).active.dropdown-toggle:after, .show > body.skin-dark .btn.btn-clean.dropdown-toggle.dropdown-toggle:after, .show body.skin-dark .btn.btn-clean.btn-dropdown.dropdown-toggle:after {
  color: #ffffff;
}
body.skin-dark .header {
  background-color: #ffffff;
  border-bottom: 1px solid #D1D3E0;
}
body.skin-dark .header .navheader-nav.nav .nav-item .nav-title, body.skin-dark .header .navheader-nav.nav .nav-item i {
  color: #181C32 !important;
}
body.skin-dark .header .navheader-nav.nav .nav-item.active, body.skin-dark .header .navheader-nav.nav .nav-item:hover {
  border-bottom-color: #1A74ED;
}
body.skin-dark .header .navheader-nav.nav .nav-item.active .nav-title, body.skin-dark .header .navheader-nav.nav .nav-item.active i, body.skin-dark .header .navheader-nav.nav .nav-item:hover .nav-title, body.skin-dark .header .navheader-nav.nav .nav-item:hover i {
  color: #181C32 !important;
}
body.skin-dark .header .navheader-nav.nav .nav-item .nav-label {
  border-right-color: #181C32;
}
body.skin-dark .header-logo {
  color: #e0e2f0;
}
body.skin-dark .burger-icon span {
  background-color: #e0e2f0;
}
body.skin-dark .burger-icon span::before, body.skin-dark .burger-icon span::after {
  background-color: #e0e2f0;
}
body.skin-dark .burger-icon:hover span {
  background-color: #e0e2f0;
}
body.skin-dark .burger-icon:hover span::before, body.skin-dark .burger-icon:hover span::after {
  background-color: #e0e2f0;
}
body.skin-dark .burger-icon-active span {
  background-color: #e0e2f0;
}
body.skin-dark .burger-icon-active span::before, body.skin-dark .burger-icon-active span::after {
  background-color: #e0e2f0;
}

body.skin-light .aside {
  background-color: #ffffff;
}
body.skin-light .aside .aside-primary {
  background-color: #0357D1;
}
body.skin-light .btn.btn-clean {
  color: #d8e8fd;
  background-color: transparent;
  border-color: transparent;
}
body.skin-light .btn.btn-clean i {
  color: #d8e8fd;
}
body.skin-light .btn.btn-clean .svg-icon svg g [fill] {
  -webkit-transition: fill 0.3s ease;
  transition: fill 0.3s ease;
  fill: #d8e8fd;
}
body.skin-light .btn.btn-clean .svg-icon svg:hover g [fill] {
  -webkit-transition: fill 0.3s ease;
  transition: fill 0.3s ease;
}
body.skin-light .btn.btn-clean.dropdown-toggle:after {
  color: #d8e8fd;
}
body.skin-light .btn.btn-clean:hover:not(.btn-text):not(:disabled):not(.disabled), body.skin-light .btn.btn-clean:focus:not(.btn-text), body.skin-light .btn.btn-clean.focus:not(.btn-text) {
  color: #637099;
  background-color: #02429f;
  border-color: transparent;
}
body.skin-light .btn.btn-clean:hover:not(.btn-text):not(:disabled):not(.disabled) i, body.skin-light .btn.btn-clean:focus:not(.btn-text) i, body.skin-light .btn.btn-clean.focus:not(.btn-text) i {
  color: #ffffff;
}
body.skin-light .btn.btn-clean:hover:not(.btn-text):not(:disabled):not(.disabled) .svg-icon svg g [fill], body.skin-light .btn.btn-clean:focus:not(.btn-text) .svg-icon svg g [fill], body.skin-light .btn.btn-clean.focus:not(.btn-text) .svg-icon svg g [fill] {
  -webkit-transition: fill 0.3s ease;
  transition: fill 0.3s ease;
  fill: #ffffff;
}
body.skin-light .btn.btn-clean:hover:not(.btn-text):not(:disabled):not(.disabled) .svg-icon svg:hover g [fill], body.skin-light .btn.btn-clean:focus:not(.btn-text) .svg-icon svg:hover g [fill], body.skin-light .btn.btn-clean.focus:not(.btn-text) .svg-icon svg:hover g [fill] {
  -webkit-transition: fill 0.3s ease;
  transition: fill 0.3s ease;
}
body.skin-light .btn.btn-clean:hover:not(.btn-text):not(:disabled):not(.disabled).dropdown-toggle:after, body.skin-light .btn.btn-clean:focus:not(.btn-text).dropdown-toggle:after, body.skin-light .btn.btn-clean.focus:not(.btn-text).dropdown-toggle:after {
  color: #ffffff;
}
body.skin-light .btn.btn-clean.disabled, body.skin-light .btn.btn-clean:disabled {
  color: #d8e8fd;
  background-color: transparent;
  border-color: transparent;
}
body.skin-light .btn.btn-clean.disabled i, body.skin-light .btn.btn-clean:disabled i {
  color: #d8e8fd;
}
body.skin-light .btn.btn-clean.disabled .svg-icon svg g [fill], body.skin-light .btn.btn-clean:disabled .svg-icon svg g [fill] {
  -webkit-transition: fill 0.3s ease;
  transition: fill 0.3s ease;
  fill: #d8e8fd;
}
body.skin-light .btn.btn-clean.disabled .svg-icon svg:hover g [fill], body.skin-light .btn.btn-clean:disabled .svg-icon svg:hover g [fill] {
  -webkit-transition: fill 0.3s ease;
  transition: fill 0.3s ease;
}
body.skin-light .btn.btn-clean.disabled.dropdown-toggle:after, body.skin-light .btn.btn-clean:disabled.dropdown-toggle:after {
  color: #d8e8fd;
}
body.skin-light .btn.btn-clean:not(:disabled):not(.disabled):active:not(.btn-text), body.skin-light .btn.btn-clean:not(:disabled):not(.disabled).active, .show > body.skin-light .btn.btn-clean.dropdown-toggle, .show body.skin-light .btn.btn-clean.btn-dropdown {
  color: #637099;
  background-color: #3e8bfc;
  border-color: transparent;
}
body.skin-light .btn.btn-clean:not(:disabled):not(.disabled):active:not(.btn-text) i, body.skin-light .btn.btn-clean:not(:disabled):not(.disabled).active i, .show > body.skin-light .btn.btn-clean.dropdown-toggle i, .show body.skin-light .btn.btn-clean.btn-dropdown i {
  color: #ffffff;
}
body.skin-light .btn.btn-clean:not(:disabled):not(.disabled):active:not(.btn-text) .svg-icon svg g [fill], body.skin-light .btn.btn-clean:not(:disabled):not(.disabled).active .svg-icon svg g [fill], .show > body.skin-light .btn.btn-clean.dropdown-toggle .svg-icon svg g [fill], .show body.skin-light .btn.btn-clean.btn-dropdown .svg-icon svg g [fill] {
  -webkit-transition: fill 0.3s ease;
  transition: fill 0.3s ease;
  fill: #ffffff;
}
body.skin-light .btn.btn-clean:not(:disabled):not(.disabled):active:not(.btn-text) .svg-icon svg:hover g [fill], body.skin-light .btn.btn-clean:not(:disabled):not(.disabled).active .svg-icon svg:hover g [fill], .show > body.skin-light .btn.btn-clean.dropdown-toggle .svg-icon svg:hover g [fill], .show body.skin-light .btn.btn-clean.btn-dropdown .svg-icon svg:hover g [fill] {
  -webkit-transition: fill 0.3s ease;
  transition: fill 0.3s ease;
}
body.skin-light .btn.btn-clean:not(:disabled):not(.disabled):active:not(.btn-text).dropdown-toggle:after, body.skin-light .btn.btn-clean:not(:disabled):not(.disabled).active.dropdown-toggle:after, .show > body.skin-light .btn.btn-clean.dropdown-toggle.dropdown-toggle:after, .show body.skin-light .btn.btn-clean.btn-dropdown.dropdown-toggle:after {
  color: #ffffff;
}
body.skin-light .header {
  background-color: #ffffff;
  border-bottom: 1px solid #D1D3E0;
}
body.skin-light .header .navheader-nav.nav .nav-item .nav-title, body.skin-light .header .navheader-nav.nav .nav-item i {
  color: #181C32 !important;
}
body.skin-light .header .navheader-nav.nav .nav-item.active, body.skin-light .header .navheader-nav.nav .nav-item:hover {
  border-bottom-color: #1A74ED;
}
body.skin-light .header .navheader-nav.nav .nav-item.active .nav-title, body.skin-light .header .navheader-nav.nav .nav-item.active i, body.skin-light .header .navheader-nav.nav .nav-item:hover .nav-title, body.skin-light .header .navheader-nav.nav .nav-item:hover i {
  color: #181C32 !important;
}
body.skin-light .header .navheader-nav.nav .nav-item .nav-label {
  border-right-color: #181C32;
}
body.skin-light .header-logo {
  color: #637099;
}
body.skin-light .burger-icon span {
  background-color: #637099;
}
body.skin-light .burger-icon span::before, body.skin-light .burger-icon span::after {
  background-color: #637099;
}
body.skin-light .burger-icon:hover span {
  background-color: #637099;
}
body.skin-light .burger-icon:hover span::before, body.skin-light .burger-icon:hover span::after {
  background-color: #637099;
}
body.skin-light .burger-icon-active span {
  background-color: #637099;
}
body.skin-light .burger-icon-active span::before, body.skin-light .burger-icon-active span::after {
  background-color: #637099;
}